@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    @apply bg-vscode_bg bg-scroll w-screen h-screen max-w-full overflow-x-hidden;
}

.mainContainer {
    @apply w-11/12 mx-auto border-2 p-4 rounded-lg lg:w-8/12 overflow-x-auto bg-vscode_bg-dark mb-10;
}

.body {
    @apply font-testing subpixel-antialiased text-xs md:text-base;
}
  
.textContainer {
    @apply flex items-center leading-none;
}

.hoverLink {
    @apply rounded hover:bg-gray-600 cursor-pointer;
}
  
.headerFont {
    @apply font-testing font-bold subpixel-antialiased text-xl;
}

.frontFont {
    @apply font-testing font-bold subpixel-antialiased text-base inline;
}
  
.header {
    @apply fixed flex container max-w-full h-9 space-x-24 bg-gray-500 bg-opacity-60  place-items-center justify-center;
}

@layer components {
    .link {
        @apply cursor-pointer;
    }
    .button {
        @apply p-2 text-xs bg-gradient-to-b from-indigo-200 to-indigo-400 border border-indigo-300 rounded-lg focus:outline-none focus:ring-indigo-500 focus:from-indigo-500;
    }
}